{{ $count := 0 }}

{{ $pages := (where .Site.RegularPages "Section" "==" "docs") }}
{{ $pages = sort $pages "Lastmod" "desc" }}

<h2>Docs Update History</h1>
<ul class="td-blog-posts-list">
{{ range $pages }}
  {{ if eq $count 10 }}
    {{ break }}
  {{ end }}
  <li class="td-blog-posts-list__item">
    <div class="td-blog-posts-list__body">
      <h5 class="mt-0 mb-1"><a href="{{ .RelPermalink }}">{{ .Title }}</a>, {{ .Date.Format ($.Param "time_format_blog") }}</h5>
      {{ partial "featured-image.html" (dict "p" . "w" 250 "h" 125 "class" "float-start me-3 pt-1 d-none d-md-block") -}}
    </div>
  </li>
  {{ $count = add $count 1 }}
{{ end }}
</ul>